@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  nav button.hamburger {
  	display:none; 
  }  /* hamburger button does not need to be shown */
  #primaryNav li {
    display: block;
  }
  nav ul.hide {
    display: block;
  }
  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  }
  li {
  	float: left;
  	background-color: #2147C3;
  }
  a {
  	display: block;
  	padding: 8px;
  	color: white;
  }
  section.forecast {
  	display: block;
  }  /* show the 10-day forecast with the medium view and up */  
  article p.town-article img {
  	width: 60%;
  	float:right; 
 	}  /* responsive images */
  main section.gallery div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}